body{
    text-align: center;
}
#myButton{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
}
#myLabel{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3em;
}